<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Шаблон таблицы</title>

<style>

/* css style here */

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  text-align: center;
}

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
</head>

<body>

<!-- html markup here -->

<h1>Шаблон таблицы</h1>
<p>Шаблонизатор LoDash</p>

<div id="grid-holder"></div>

<!-- html template here -->

<script type="text/template" id="grid-template">
<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Возраст</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user) { %>
    <tr>
      <td><%-user.name%></td>
      <td><%-user.age%></td>
    </tr>
    <% }); %>
  </tbody>
</table>
</script>

<script>

// javascript code here

'use strict';

let users = [{
  name: "Вася",
  age: 10
}, {
  name: "Петя",
  age: 15
}, {
  name: "Женя",
  age: 20
}, {
  name: "Маша",
  age: 25
}, {
  name: "Даша",
  age: 30
}, ];

let templateTable = _.template( document.getElementById('grid-template').innerHTML.trim() );
document.getElementById('grid-holder').innerHTML = templateTable(users);

</script>
</body>
</html>
