<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Компонент меню</title>

<style>

/* css style here */

.menu ul {
  display: none;
  margin: 0;
}

.menu .title {
  font-weight: bold;
  cursor: pointer;
}

.menu .title:before {
  content: '▶';
  padding-right: 6px;
  color: green;
}

.menu.open ul {
  display: block;
}

.menu.open .title:before {
  content: '▼';
}

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
<script src="https://cdn.polyfill.io/v1/polyfill.js?features=Element.prototype.closest"></script>
</head>

<body>

<!-- html markup here -->

<h1>Компонент меню</h1>
<p>Компонент меню + шаблонизатор LoDash</p>

<!-- html template here -->

<script type="text/template" id="menu-template">
  <div class="menu">
    <span class="title"><%-title%></span>
  </div>
</script>

<script type="text/template" id="menu-list-template">
  <ul>
    <% for (var item in items) { %>
    <li><a href="#<%=encodeURIComponent(item)%>"><%-items[item]%></a></li>
    <% } %>
  </ul>
</script>

<script>

// javascript code here

'use strict';

function Menu(options) {
  var elem;

  function getElem() {
    if (!elem) render();
    return elem;
  }

  function render() {
    var html = options.template({
      title: options.title
    });

    elem = document.createElement('div');
    elem.innerHTML = html;
    elem = elem.firstElementChild;

    elem.onmousedown = function() {
      return false;
    };

    elem.onclick = function(event) {
      if (event.target.closest('.title')) {
        toggle();
      } else if (event.target.closest('a')) {
        event.preventDefault();
        alert(event.target.href);
      }
    };
  }

  function renderItems() {
    if (elem.querySelector('ul')) return;

    var listHtml = options.listTemplate({
      items: options.items
    });
    elem.insertAdjacentHTML("beforeEnd", listHtml);
  }

  function open() {
    renderItems();
    elem.classList.add('open');
  }

  function close() {
    elem.classList.remove('open');
  }

  function toggle() {
    if (elem.classList.contains('open')) close();
    else open();
  }

  this.getElem = getElem;
  this.toggle = toggle;
  this.close = close;
  this.open = open;
}

var menu = new Menu({
  title: "Сладости",
  template: _.template(document.getElementById('menu-template').innerHTML),
  listTemplate: _.template(document.getElementById('menu-list-template').innerHTML),
  items: {
    "donut": "Пончик",
    "cake": "Пирожное",
    "chocolate": "Шоколадка"
  }
});

document.body.appendChild(menu.getElem());

</script>
</body>
</html>
